@import "../../scss/configs";

.bp3-text,
.bp3-form-group,
.bp3-input-group,
.bp3-control,
.bp3-button {
  font-family: Arial, $helvi;
}

.form-container {
  background-color: white;
}

.radio-label-container {
  box-sizing: border-box;
  width: 65px;
}

.brand-purple {
  color: $brand-purple;
}

.brand-orange {
  color: $brand-orange;
}

.bkg-brand-orange {
  background: $brand-orange;
}

.brand-bold-purple {
  @extend .brand-purple;
  font-weight: bold;
}

.bp3-button {
  &.bkg-brand-orange {
    background: $brand-orange;
  }
}

.reset-margin-container {
  border: 1px solid $brand-purple;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: $base-padding;
  @media only screen and (max-width: $md-min) {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.text-bold {
  font-weight: bold;
}

.padding-top {
  padding-top: 3 * $base-padding;
}

.padding-bottom {
  padding-bottom: $base-padding;
}

.react-add-to-calendar__dropdown {
  z-index: 10;
}

.btn-submit-registration {
  background: $brand-orange;
  color: #fff;
  cursor: pointer;
  border: 1px solid $brand-orange;
  width: 140px;
  padding: $base-padding;
  box-sizing: border-box;
  font-weight: bold;
  margin-top: 12px;
  &.disabled {
    opacity: 50%;
  }
}

.bp3-form-fellowship {
  .bp3-radio {
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.reset-margin-container {
  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding: 16px 8px;
  }
}
